<section>
  <!-- Parcial principal -->
  <div class="main-section">
    <!-- Renderiza el mensaje de bienvenida usando el helper -->
    {{msjBienvenida}}
    <!-- Parcial para mostrar un producto -->
    <div class="producto">
      {{#each productos}}
      <h3>{{this}}</h3>
      {{/each}}
    </div>
  </div>
</section>